<a href="https://colab.research.google.com/github/Mugund-K/DataScienceScribblings/blob/main/MeasurePerformanceOfAModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import make_regression
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

data = pd.read_csv('Admission_Predict.csv')
data.describe()

       Serial No.   GRE Score  ...    Research  Chance of Admit
count  400.000000  400.000000  ...  400.000000        400.000000
mean   200.500000  316.807500  ...    0.547500          0.724350
std    115.614301   11.473646  ...    0.498362          0.142609
min      1.000000  290.000000  ...    0.000000          0.340000
25%    100.750000  308.000000  ...    0.000000          0.640000
50%    200.500000  317.000000  ...    1.000000          0.730000
75%    300.250000  325.000000  ...    1.000000          0.830000
max    400.000000  340.000000  ...    1.000000          0.970000

[8 rows x 9 columns]

In [2]:
data = data.drop(columns=['Serial No.'])

In [3]:
data

     GRE Score  TOEFL Score  ...  Research  Chance of Admit
0          337          118  ...         1              0.92
1          324          107  ...         1              0.76
2          316          104  ...         1              0.72
3          322          110  ...         1              0.80
4          314          103  ...         0              0.65
..         ...          ...  ...       ...               ...
395        324          110  ...         1              0.82
396        325          107  ...         1              0.84
397        330          116  ...         1              0.91
398        312          103  ...         0              0.67
399        333          117  ...         1              0.95

[400 rows x 8 columns]

In [4]:
from sklearn.model_selection import train_test_split
X, y = data.values[:, :-1], data.values[: , -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [5]:
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()
linear_regressor.fit(X_train, y_train)
predicted = linear_regressor.predict(X_test)
predicted

array([0.94125686, 0.42821169, 0.64421434, 0.885703  , 0.81524688,
       0.93449431, 0.85424202, 0.66457371, 0.73228203, 0.68927626,
       0.50751642, 0.85726088, 0.64392695, 0.80938239, 0.64496275,
       0.77440988, 0.68267649, 0.94139358, 0.70862408, 0.7031857 ,
       0.6199678 , 0.87509112, 0.5651157 , 0.54060393, 0.66878171,
       0.66957244, 0.86058523, 0.72388926, 0.60143202, 0.82698619,
       0.6249103 , 0.5073741 , 0.91041274, 0.90734604, 0.64839187,
       0.95304765, 0.94919383, 0.78210016, 0.75153875, 0.743111  ,
       0.50484735, 0.70132225, 0.62530864, 0.70478455, 0.66501326,
       0.95535731, 0.83745868, 0.53405295, 0.85633616, 0.66257158,
       0.78430146, 0.7421955 , 0.82517552, 0.67917636, 0.87685359,
       0.7195981 , 0.62869088, 0.7711023 , 0.71554336, 0.7401309 ,
       0.59396792, 0.9328418 , 0.77102669, 0.57956996, 0.83575304,
       0.70337367, 0.63479619, 0.98043614, 0.81561225, 0.65097238,
       0.89260642, 0.67253615, 0.71028891, 0.65657704, 0.73833614,
       0.64754595, 0.65018701, 0.78259289, 0.95907057, 0.60512553])

In [6]:
predicted - y_test

array([-0.00874314,  0.00821169, -0.01578566, -0.014297  ,  0.01524688,
        0.04449431, -0.03575798, -0.09542629, -0.02771797,  0.09927626,
        0.07751642, -0.02273912,  0.02392695, -0.03061761, -0.08503725,
        0.00440988, -0.07732351,  0.01139358, -0.05137592, -0.0368143 ,
       -0.0200322 , -0.02490888, -0.0048843 ,  0.00060393, -0.04121829,
       -0.08042756, -0.04941477,  0.01388926, -0.06856798,  0.14698619,
       -0.1050897 ,  0.0373741 , -0.01958726, -0.00265396,  0.00839187,
       -0.00695235,  0.00919383,  0.23210016,  0.00153875, -0.006889  ,
       -0.06515265, -0.05867775, -0.10469136, -0.07521545, -0.09498674,
       -0.00464269, -0.02254132, -0.05594705, -0.02366384, -0.12742842,
        0.06430146, -0.0678045 , -0.02482448,  0.05917636, -0.03314641,
        0.0595981 , -0.03130912,  0.0811023 , -0.06445664,  0.0101309 ,
       -0.04603208,  0.0228418 ,  0.03102669, -0.07043004, -0.00424696,
       -0.05662633, -0.07520381,  0.02043614,  0.02561225, -0.02902762,
       -0.03739358, -0.01746385, -0.01971109, -0.03342296, -0.05166386,
       -0.00245405,  0.19018701,  0.05259289,  0.01907057, -0.01487447])

In [8]:
# Mean Absolute Error 
# Mean Squared Error

In [9]:
#MAE
import numpy as np
mae_np = np.mean(np.abs(predicted - y_test))
mae_np

0.045199145816234534

In [10]:
#MSE
mse_np = np.mean((predicted-y_test) ** 2)
mse_np

0.003777329996172777

In [11]:
#using scikit learn

In [12]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mae_sklearn = mean_absolute_error(y_test, predicted)
mae_sklearn

0.045199145816234534

In [13]:
mse_sklearn = mean_squared_error(y_test, predicted)
mse_sklearn

0.003777329996172777